  <%= form_with(model: practice_post) do |form| %>
  <% if practice_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(practice_post.errors.count, "error") %> prohibited this practice_post from being saved:</h2>

      <ul>
        <% practice_post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.label :title, "Post Title" %>
  <%= form.text_field :title %>
  <%= form.label :title, "Post Author" %>
  <%= form.text_field :author %>
  <%= form.label :title, "Post Description" %>
  <%= form.text_field :description %>
  <%= form.label :title, "Post Codename" %>
  <%= form.text_field :codename %>
  <%= form.label :image, "Post Image " %>
  <%= form.file_field :image %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
