<p id="notice"><%= notice %></p>

<h1><%= @practice_post.title %></h1>
<h2><%= @practice_post.description %></h2>
<h3><%= @practice_post.author %></h3> 
<%= image_tag(@practice_post.image) %>

<%= link_to 'Edit', edit_practice_post_path(@practice_post) %> |
<%= link_to 'Back', practice_posts_path %>
